body
  font-family $fontfamily
  color $text-color
  transition-duration 0.9s
  transition-property opacity
.section_text
  h1
    text-align center 
    font-size 1.5em
    color $text-color
    letter-spacing 2px
    font-weight bold
    padding-top 2em
.intro_section
  @media screen and (max-width: 726px)
    padding-bottom 20%
  @media screen and (min-width: 727px)
    padding-bottom 7%
.info_section
  background: rgba(230,230,230,0.42);
  @media screen and (max-width: 726px)
    padding-bottom 20%
  @media screen and (min-width: 727px)
    padding-bottom 7%
.sample_section
  @media screen and (max-width: 726px)
    padding-bottom 20%
  @media screen and (min-width: 727px)
    padding-bottom 7%
.organaizers_section
  background-color #FFF5DF
  @media screen and (max-width: 726px)
    padding-bottom 20%
  @media screen and (min-width: 727px)
    padding-bottom 7%
.credit_section
  padding-bottom 3% 
