//font
$fontfamily = Times ,"Times New Roman" , "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;


//color
$blue = #1C6395
$white = #fff
$black = #3A4D58
$sky_blue = #419CD5
$gray = #C0C0C0
//text-color
$link-text = $sky_blue
$link-select = #BBE5FF
$text-color = #50606A
