.credit
  h1 Staff Credit
  ul
    li
      .name ちぃご
      .url 
        a(href="http://twitter.com/ccchiigon" target="_blank") (@ccchiigon)
      .role
        p Concept,Graphics
    li
      .name unun
      .url 
        a(href="http://twitter.com/un_un_me" target="_blank") (@un_un_me)
      .role
        p Concept,Graphics
    li
      .name Yuu
      .url 
        a(href="http://twitter.com/u_1_p" target="_blank") (@u_1_p)
      .role
        p Website
    li
      .name nnm
      .url 
        a(href="http://twitter.com/n_chan167" target="_blank") (@n_chan167)
      .role
        p MainImage,Layout