.section_text
  h1 Exhibition Information
.info
  .schedule
    h2 Date
    p 2016年2月15日[月] - 2月21日[日]
    span  (2月17日のみ休廊)
    h2 Time
    p OPEN 12:00 - CLOSE 19:00
    span (最終日のみCLOSE17:00)
    h2 Place
    h3 Gallery・Zakka モノコト
    span
      |〒530-0015<br>
      |大阪市北区中崎西1-7-11
  .map
    h1 地図をみる
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.893735944938!2d135.50222311490623!3d34.70786009034313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e695d7d662ed%3A0x771ed3e2966995ca!2z44CSNTMwLTAwMTUg5aSn6Ziq5bqc5aSn6Ziq5biC5YyX5Yy65Lit5bSO6KW_77yR5LiB55uu77yX4oiS77yR77yR!5e0!3m2!1sja!2sjp!4v1454479205733" width="500" height="500" frameborder="0" style="border:0;" allowfullscreen)