.section_text
  h1 Introduction
.intro
  img(src="https://googledrive.com/host/0B7V-92KAO-tlTDZNQThmR2ZOMFE")
  p Crossroadとは交差点つまり異なる道が交わる場所のことです。私たちにとってCrossroadとは趣味として続けてきた写真とイラストが交わる場所であり、同時に学生と社会人の分岐点という意味もあります。そんなCrossroadに立つ今、作り上げてきた写真とイラストをデータではなく、一つしかない作品として展示をします。