
.section_text
  h1 Organizers
.organizers
  .member
    .icon
      a(href="http://twitter.com/ccchiigon" target="_blank")
        img(src="https://googledrive.com/host/0B7V-92KAO-tlU2oyU2hmaEpnWFk")
    .prof_name 
      h2 ちぃご
    .twi_id
      a(href="http://twitter.com/ccchiigon" target="_blank") @ccchiigon
    .website
      a(href="http://pixiv.me/chiigo49" target="_blank") pixiv.me/chiigo49
    .sumally
      span イラストレーター。女の子のイラストをメインに創作、二次創作で同人イベントやインターネットにて活動中。興味のある方はTwitter、pixivのフォローしてください♪
  .member
    .icon
      a(href="http://twitter.com/un_un_me" target="_blank")
        img(src="https://googledrive.com/host/0B7V-92KAO-tlaWJpdTNpRjVkOGc")
    .prof_name 
      h2 unun
    .twi_id
      a(href="http://twitter.com/un_un_me" target="_blank") @un_un_me
    .website
      a(href="http://un-un.me" target="_blank") un-un.me
    .sumally
      span そんな言葉をきっかけに始めたグループ。お互いに似ているようで似ていない。凸凹な2人が写真を使って何かをするための方法です。
    .unun_member
      h2 unun Member
      .icon_s
        a(href="http://twitter.com/u_1_p" target="_blank")
          img(src="https://googledrive.com/host/0B7V-92KAO-tlQVdzekVnYTd0aTA")
      .prof_name_s
        h3 Yuu
      .twi_id_s
        a(href="http://twitter.com/u_1_p" target="_blank") @u_1_p
      .icon_s
        a(href="http://twitter.com/n_chan167" target="_blank")
          img(src="https://googledrive.com/host/0B7V-92KAO-tlOGl0NURmYWFPQkE")
      .prof_name_s 
        h3 nnm
      .twi_id_s
        a(href="http://twitter.com/n_chan167" target="_blank") @n_chan167