.section_text
  h1 Sample Images
.sample_images
  a(href="https://googledrive.com/host/0B7V-92KAO-tlcXE1WFlvcnlCUE0" data-lity)
    img(src="https://googledrive.com/host/0B7V-92KAO-tlcXE1WFlvcnlCUE0")
  a(href="https://googledrive.com/host/0B7V-92KAO-tlSjFvcDZzVW5xTVk" data-lity)
    img(src="https://googledrive.com/host/0B7V-92KAO-tlSjFvcDZzVW5xTVk")
  a(href="https://googledrive.com/host/0B7V-92KAO-tlVVFMWXV6eGVBaVk" data-lity)
    img(src="https://googledrive.com/host/0B7V-92KAO-tlVVFMWXV6eGVBaVk")
  a(href="https://googledrive.com/host/0B7V-92KAO-tlbmh1RXl4MHkxVjQ" data-lity)
    img(src="https://googledrive.com/host/0B7V-92KAO-tlbmh1RXl4MHkxVjQ")
  a(href="https://googledrive.com/host/0B7V-92KAO-tlZTNkTlJoYUlsMWc" data-lity)
    img(src="https://googledrive.com/host/0B7V-92KAO-tlZTNkTlJoYUlsMWc")
  a(href="https://googledrive.com/host/0B7V-92KAO-tlNDA3NV9zeGE1TXM" data-lity)
    img(src="https://googledrive.com/host/0B7V-92KAO-tlNDA3NV9zeGE1TXM")
