.section_text
  h1 Sample Images
.sample_images
  a(href="https://raw.githubusercontent.com/u-1-p/crossroad-tokusetu/master/source/assets/img/crossroad_img6.jpg" data-lity)
    img(src="https://raw.githubusercontent.com/u-1-p/crossroad-tokusetu/master/source/assets/img/crossroad_img6.jpg")
  a(href="https://raw.githubusercontent.com/u-1-p/crossroad-tokusetu/master/source/assets/img/crossroad_img1.jpg" data-lity)
    img(src="https://raw.githubusercontent.com/u-1-p/crossroad-tokusetu/master/source/assets/img/crossroad_img1.jpg")
  a(href="https://raw.githubusercontent.com/u-1-p/crossroad-tokusetu/master/source/assets/img/crossroad_img2.jpg" data-lity)
    img(src="https://raw.githubusercontent.com/u-1-p/crossroad-tokusetu/master/source/assets/img/crossroad_img2.jpg")
  a(href="https://raw.githubusercontent.com/u-1-p/crossroad-tokusetu/master/source/assets/img/crossroad_img3.jpg" data-lity)
    img(src="https://raw.githubusercontent.com/u-1-p/crossroad-tokusetu/master/source/assets/img/crossroad_img3.jpg")
  a(href="https://raw.githubusercontent.com/u-1-p/crossroad-tokusetu/master/source/assets/img/crossroad_img4.jpg" data-lity)
    img(src="https://raw.githubusercontent.com/u-1-p/crossroad-tokusetu/master/source/assets/img/crossroad_img4.jpg")
  a(href="https://raw.githubusercontent.com/u-1-p/crossroad-tokusetu/master/source/assets/img/crossroad_img5.jpg" data-lity)
    img(src="https://raw.githubusercontent.com/u-1-p/crossroad-tokusetu/master/source/assets/img/crossroad_img5.jpg")
