.credit
  text-align center
  margin 0 auto 
  h1
    padding-top 1.8em 
    display inline-block
    text-align left 
    font-size 1.2em
    color $black
    padding-bottom 0.8em 
  ul
    font-size 0.9em 
    line-height 3.3
    @media screen and (min-width: 727px)
      margin-left 100px  
.name
  text-align left 
  display inline-block
  color $gray 
  @media screen and (max-width: 726px)
    font-size 0.8em 
    width 20%
  @media screen and (min-width: 727px)
    width 200px
.url
  text-align left 
  display inline-block
  @media screen and (max-width: 726px)
    font-size 0.8em 
    width 30% 
  @media screen and (min-width: 727px)
    width 200px
  a
    text-decoration none
    color $link-text
  a:hover
    color $link-select 
.role
  text-align left 
  display inline-block
  color $gray
  @media screen and (max-width: 726px)
    font-size 0.8em 
    letter-spacing 1px
    width 30% 
  @media screen and (min-width: 727px)
    width 200px
    letter-spacing 3px
